# ContainerLabPy .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Build
build/
dist/
*.egg-info/

# Docker
*.docker

# VS Code
.vscode/

# Misc
.DS_Store
Thumbs.db
